<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">申請する</h1>
    <%= form_tag("/bands/create") do %>
      <div class="form">
        <div class="form-body">
          バンド名：<input type="text" name="name">
          人数：<input type="number" name="number_of_people" id="number">
          時間：<input type="number" name="time">
          <div class="add-member">
            メンバー：
          </div>
          <input type="submit" value="申請">
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>